<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.boot.admin.system.modules.version.mapper.VersionMapper">

    <sql id="querySql">
        SELECT * FROM sys_version ${ew.customSqlSegment}
        ORDER BY is_activated DESC, gmt_create DESC
    </sql>

    <select id="pageQuery" resultType="com.boot.admin.system.modules.version.vo.VersionVO">
        <include refid="querySql"/>
    </select>
</mapper>