<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.jjche.system.modules.quartz.mapper.QuartzJobMapper">
    <sql id="querySql">
        SELECT * FROM sys_quartz_job ${ew.customSqlSegment}
    </sql>

    <select id="pageQuery" resultType="org.jjche.system.modules.quartz.domain.QuartzJobDO">
        <include refid="querySql"/>
    </select>

    <select id="queryAll" resultType="org.jjche.system.modules.quartz.domain.QuartzJobDO">
        <include refid="querySql"/>
    </select>
</mapper>