<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.jjche.demo.modules.student.mapper.StudentMapper">

    <sql id="querySql">
        SELECT * FROM student ${ew.customSqlSegment}
        <!--            <choose>-->
        <!--            <when test="ew.customSqlSegment != null and ew.customSqlSegment != ''">-->
        <!--                AND is_deleted = 0-->
        <!--            </when>-->
        <!--            <otherwise>-->
        <!--                <where>-->
        <!--                    is_deleted = 0-->
        <!--                </where>-->
        <!--            </otherwise>-->
        <!--        </choose>-->
    </sql>

    <select id="pageQuery" resultType="StudentVO">
        <include refid="querySql"/>
    </select>

    <select id="queryAll" resultType="StudentVO">
        <include refid="querySql"/>
    </select>
</mapper>