<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.jjche.system.modules.system.mapper.MenuMapper">

    <select id="selectByRoleId" resultType="org.jjche.system.modules.system.domain.MenuDO">
        SELECT t.* FROM sys_menu t
        INNER JOIN sys_roles_menus srm ON t.id = srm.menu_id AND srm.role_id = #{roleId}
    </select>

    <select id="findByRoleIdsAndTypeNot" resultType="org.jjche.system.modules.system.domain.MenuDO">
        SELECT m.* FROM sys_menu m, sys_roles_menus r
        WHERE m.id = r.menu_id
        <if test="roleIds != null and roleIds.size > 0">
            AND r.role_id IN
            <foreach collection="roleIds" separator="," open="(" close=")" item="item">
                #{item}
            </foreach>
        </if>
        AND type != #{type}
        order by m.menu_sort asc
    </select>
</mapper>