<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.boot.admin.system.modules.permissiondatarule.mapper.SysDataPermissionRuleMapper">

    <sql id="querySql">
        SELECT * FROM sys_data_permission_rule ${ew.customSqlSegment}
    </sql>

    <select id="pageQuery" resultType="com.boot.admin.system.modules.permissiondatarule.api.vo.SysDataPermissionRuleVO">
        <include refid="querySql"/>
    </select>

    <select id="queryAll" resultType="com.boot.admin.system.modules.permissiondatarule.domain.SysDataPermissionRuleDO">
        <include refid="querySql"/>
    </select>

    <select id="selectByRoleIdsAndPermission" resultType="com.boot.admin.common.dto.PermissionDataRuleDTO">
        SELECT t.* FROM sys_data_permission_rule t
            WHERE t.is_activated = 1 AND t.id IN (
                SELECT t.id
                    FROM sys_data_permission_rule t
                WHERE t.menu_id IN (
                SELECT s.menu_id FROM sys_data_permission_rule_role s
                INNER JOIN sys_menu m ON m.id = s.menu_id AND m.permission = #{permission}
                WHERE s.role_id IN
                <foreach collection="roleIds" separator="," open="(" close=")" item="item">
                    #{item}
                </foreach>
                )
        )
    </select>

    <select id="pageByMenuIdAndRoleId" resultType="com.boot.admin.system.modules.permissiondatarule.api.vo.SysDataPermissionRuleVO">
        SELECT t.*
        FROM sys_data_permission_rule t
        WHERE t.id IN
            (SELECT data_permission_rule_id FROM sys_data_permission_rule_role
                WHERE menu_id = #{menuId} AND role_id = #{roleId})
            AND t.is_activated = 1
    </select>
</mapper>