<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.jjche.system.modules.system.mapper.DataPermissionFieldMapper">

    <select id="queryByUserId" resultType="org.jjche.system.modules.system.api.vo.DataPermissionFieldVO">
        SELECT t.id, t.menu_id, t.`name`, t.`code`, t.sort, fr.is_accessible, fr.is_editable
        ,m.permission AS 'menuPermission'
        FROM sys_data_permission_field t
        INNER JOIN sys_data_permission_field_role fr ON t.id = fr.data_permission_field_id
        INNER JOIN sys_menu m ON m.id = fr.menu_id
        WHERE t.is_activated = 1 AND fr.role_id IN
        (SELECT role_id FROM sys_users_roles WHERE user_id = #{userId})
    </select>

</mapper>