<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.jjche.system.modules.system.mapper.RoleMapper">

    <resultMap id="BaseResultMap" type="org.jjche.system.modules.system.domain.RoleDO">
        <id column="id" property="id"/>
        <collection property="menus" column="id" ofType="org.jjche.system.modules.system.domain.MenuDO"
                    select="org.jjche.system.modules.system.mapper.MenuMapper.selectByRoleId"/>
        <collection property="depts" column="id" ofType="org.jjche.system.modules.system.domain.DeptDO"
                    select="org.jjche.system.modules.system.mapper.DeptMapper.selectByRoleId"/>
    </resultMap>

    <sql id="querySql">
        SELECT * FROM sys_role ${ew.customSqlSegment}
    </sql>

    <select id="pageQuery" resultMap="BaseResultMap">
        <include refid="querySql"/>
    </select>

    <select id="selectByUserId" resultMap="BaseResultMap">
        SELECT t.* FROM sys_role t
        INNER JOIN sys_users_roles sur ON sur.role_id = t.id AND sur.user_id = #{userId}
    </select>

    <select id="countByDepts" resultType="integer">
        select count(1) from sys_role r, sys_roles_depts d
        where r.id = d.role_id and d.dept_id in
        <foreach collection="deptIds" separator="," open="(" close=")" item="item">
            #{item}
        </foreach>
    </select>

    <select id="findInMenuId" resultType="org.jjche.system.modules.system.domain.RoleDO">
        SELECT r.* FROM sys_role r, sys_roles_menus m
        WHERE r.id = m.role_id AND m.menu_id in
        <foreach collection="menuIds" separator="," open="(" close=")" item="item">
            #{item}
        </foreach>
    </select>

    <delete id="untiedMenu">
        delete from sys_roles_menus where menu_id = #{menuId}
    </delete>

</mapper>